{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('styles/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block accueilButtonClasses %} selected {% endblock %}

{% block body %}

    <div class="flex-content">
        <div class="image">
            <img src="{{ asset("images/icon4.png") }}">
        </div>

        <div>
            <h1>Bienvenue à toi !</h1>
            <div>
                <p>Te voici sur le projet TO:DO List Manager créé par Marthym. Un projet qui a pour but d'explorer le framework Symfony tout en créant une application utile à la vie de tous les jours.</p>
            </div>
        </div>
    </div>





{% endblock %}
